<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">

    <testsuites><!--Tell Phpunit where the test are-->
        <testsuite name="OpenNote Test">
            <directory suffix=".test.php">../OpenNote.Test</directory>
        </testsuite>
    </testsuites>
	
	<filter><!--Tell php unit where the code is-->
        <whitelist>
            <directory suffix=".php">../OpenNote</directory><!--Cover only php files-->
            <exclude>
                <directory>../OpenNote.Test</directory>
                <directory>../Doc</directory>
            </exclude>
        </whitelist>
    </filter>

	<logging>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/><!--Show all untested files-->
	</logging>
</phpunit>
