<!DOCTYPE html>
<html ng-app="openNote">
	
<head>
	<meta charset="UTF-8">
	<meta name="description" content="description">
	 
	<title>OpenNote</title>
	 
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	
	<!-- Dark Theme -->
		<link rel="stylesheet" type="text/css" href="openNote/style/dark/jqdialog.min.dark.css">
		<link rel="stylesheet" type="text/css" href="openNote/style/dark/style.dark.css">
	<!-- Light Theme -->
		<!-- 
		<link rel="stylesheet" type="text/css" href="style/light/style.css">
		<link rel="stylesheet" type="text/css" href="style/light/jqdialog.min.css">
		-->
		<link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
		
		
	<link rel="stylesheet" type="text/css" href="openNote/style/login.css">
	
	<script src="bower_components/jquery/jquery.js" type="text/javascript"></script>
	
	<!-- Angular and the gang -->
		<script src="bower_components/angular/angular.js" type="text/javascript"></script>
		<script src="bower_components/angular-animate/angular-animate.js" type="text/javascript"></script>
		<script src="bower_components/angular-resource/angular-resource.js" type="text/javascript"></script>
		<script src="bower_components/angular-route/angular-route.js" type="text/javascript"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js" type="text/javascript"></script>
		<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js" type="text/javascript" ></script>
	
	<script src="bower_components/jqdialog/jqdialog.min.js" type="text/javascript"></script>
	<script src="bower_components/ckeditor/ckeditor.js" type="text/javascript"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	
	<!-- Main Open Note Scripts -->
		<script src="openNote/openNote.js" type="text/javascript"></script>
		<script src="openNote/openNote.config.js" type="text/javascript"></script>
		<script src="openNote/router.js" type="text/javascript"></script>
		
		<!-- Controllers -->
			<script src="openNote/controllers/loginController.js" type="text/javascript"></script>
			<script src="openNote/controllers/folderController.js" type="text/javascript"></script>
			<script src="openNote/controllers/noteController.js" type="text/javascript"></script>
			<script src="openNote/controllers/listController.js" type="text/javascript"></script>
			
		<!-- Services -->
			<script src="openNote/services/userService.js" type="text/javascript"></script>
		
		<!-- Directives -->
			<script src="openNote/directives/randomFadeInDirective.js" type="text/javascript"></script>
			
		<!-- Factories -->
			<script src="openNote/factories/folderFactory.js" type="text/javascript"></script>
			<script src="openNote/factories/noteFactory.js" type="text/javascript"></script>
	
</head>
<body> 
	<div id="menu" class="startHidden">
		<div class="navbar-header">
			<div class="left">
				<button type="button" class="customButton" id="home" onclick="window.location.href='#/folder';">Notes</button> 
			</div>
			<div class="right">
				<button type="button" class="navbar-toggle noPadding noMargin" data-toggle="collapse" data-target=".navbar-collapse">
	              Options
	            </button>
			</div>
		</div>
		<div class="navbar-collapse collapse noShadow">	 
			<ul class="nav navbar-nav navbar-right">
            	<li ng-repeat="button in buttons">
              		<button  type="button" class="customButton" ng-click="button.action();">{{button.text}}</button>
            	</li>
			</ul>
		</div>
	</div>
	
	<div class="col-lg-2 col-md-3 col-sm-4">
		<div id="sideBar" class="startHidden noPadding" ng-controller="listController">
			<div id="folderList">
				<script type="text/ng-template" id="nodes_renderer.html">
					<div ui-tree-handle>
	            		<a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': !collapsed, 'glyphicon-chevron-down': collapsed}"></span></a>
	        	    		{{folder.name}}
	          		</div>
	          		<ol ui-tree-nodes="" ng-model="folder.foldersInside" ng-class="{hidden: !collapsed}">
	            		<li ng-repeat="folder in folder.foldersInside" ui-tree-node ng-include="'nodes_renderer.html'"></li>
					</ol>
	        	</script>
	        	<div ui-tree id="tree-root">
	         		<ol ui-tree-nodes="" ng-model="data.foldersInside" >
	            		<li ng-repeat="folder in data.foldersInside" ui-tree-node ng-include="'nodes_renderer.html'"></li>
	          		</ol>
	        	</div>
			</div>
		</div>
	</div>
	
	<div class="col-lg-10 col-md-9 col-sm-8" ng-view>	
	</div>
</body>
</html>
