<div class="folderPartial">
	<div id="folderTitleBar">
		<div id="folderTitle">Settings</div>
	</div>
	
	<div class="startHidden randomFadeInDirective box settings" ng-click="loadURL('/settings/database')">
		<h4>
			Database
		</h4>
		<p class="box_description">
			Modify database settings
		</p>
		<p class="options">
		</p>
	</div>
	
	<div class="startHidden randomFadeInDirective box settings" ng-click="loadURL('/settings/legacy')">
		<h4>
			File/Legacy API
		</h4>
		<p class="box_description">
			Service used for uploading files and converting data from legacy service
		</p>
		<p class="options">
		</p>
	</div>
</div>