form label {
	display: block;
}

input {
	padding: 8px;
	font-size: 16px;
	width: 250px;
	border: 1px solid #444;
	border-radius: 0px;
	background-color: inherit;
}

.button {
	padding: 8px;
	background-color: #f06d29;
	width: auto !important;
	border: 0;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	border-radius: 0px;
	border-radius:4px;/*round the corners*/
}

.button:hover {
	background: #fff;
}

a.button {
	text-decoration: none;
}

#login{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#register{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#userAvailability{
	font-size: 12px;
	margin-left: 10px;
	font-weight: bold;
}

div.loginPartial{
	margin-left: 10%;
	margin-top: 10%;
}

.homeBox{
	background-color: #000;
	padding: 30px 50px;
	margin-right: 15px;
	font-size: 25px;
	overflow: hidden;
	float: left;
	color: #f06d29;
	
	border-radius:4px;/*round the corners*/
}

homeBox:hover{
	background-color: #f06d29;
	color: #000;
	cursor: pointer;
}

.homeBoxText:hover{
	cursor: pointer;
}

a{
	color: #f06d29;
}

h1,h2,h3 {
	margin: 0 0 10px 0;
	font-weight: normal;
}

.clear{
	clear: both;
}

#copyRight{
	color: #656565;
}
