<div ng-Repeat="folder in folders">
	<div class="box folder startHidden jstree-draggable randomFadeInDirective" folderID="{{folder.id}}" ng-click="loadFolder(folder);">
		<h2>
			{{folder.name}}
		</h2>
		<p class="box_description"></p>
		<p class="options">
			Folder
		</p>
	</div>
	
	<script type="text/javascript">
		//$("[folderID={{folder.id}}]").fadeIn(fadeSpeedLong*Math.random()+200);
	</script>
</div>

<div ng-Repeat="note in notes">
	<div class="box note startHidden jstree-draggable randomFadeInDirective" noteID="{{note.id}}">
		<h2>
			{{note.title}}
		</h2>
		<p class="box_description"></p>
		<p class="options">
			<span class="right">Note</span>
		</p>
		
		
	</div>
	<script type="text/javascript">
		//$("[noteID={{note.id}}]").fadeIn(config.fadeSpeedLong*Math.random()+200);
	</script>
</div>