<div id="sideBar" 
	 class="ng-hide noPadding fadeIn" 
	 ng-controller="listController" 
	 ng-show="showSideBar" 
	 data-intro="{{helpContent.listArea}}">
	<div id="folderList">
       	<div ui-tree="options" id="tree-root">
       		<ol ui-tree-nodes="" ng-model="data" >
          		<li ng-repeat="folder in data" 
          			ui-tree-node 
          			ng-include="'openNote/partials/treePartial.html'" 
          			data-collapsed="!node.collapsed"></li>
       		</ol>
       	</div>
	</div>
</div>