<div class="navbar-header">
	<div class="left">
		<button type="button" class="customButton" id="home" onclick="window.location.href='#/folder';" data-intro="{{helpContent.homeButton}}">Notes</button> 
	</div>
	<div class="right">
		<button type="button" class="navbar-toggle noPadding noMargin" data-toggle="collapse" data-target=".navbar-collapse">
        	Options
        </button>
	</div>
</div>
<div class="navbar-collapse collapse noShadow">	 
	<ul class="nav navbar-nav navbar-right">
		<li ng-repeat="button in buttons">
        	<button  type="button" class="customButton" ng-click="button.action();" data-intro="{{button.helpText}}">{{button.text}}</button>
        </li>
        <li>
        	<button  type="button" class="customButton" onclick="window.location='#/settings'">Settings</button>
        </li>
        <li ng-show="showHelpButton">
        	<button  type="button" class="customButton" onclick="introJs().start();">Help</button>
        </li>
	</ul>
</div>