<div class="searchPartial">
	<div class="titleBar">Search in Home</div>
	<div id="search" class="box big search">
		<form>
			<p>
				<label>In</label>
				<select>
					<option>All</option>
					<option>Notes</option>
					<option>Folders</option>
				</select>
			</p>
			<p>
				<label>Fields</label>
				<select>
					<option>All</option>
					<option>Title</option>
					<option>Body</option>
				</select>
			</p>
			<p>
				<label>For</label>
				<input type="text"/>
			</p>

			<p>
				<input type="submit" value="Search" class="customButton" ng-click=""/>
			</p>
		</form>
	</div>
</div>