<div class="searchPartial">
	<div class="titleBar">Search in Home</div>
	<div id="search" class="box big search">
		<form>
			<div class="form-group">
				<label>In</label>
				<select class="form-control">
					<option>All</option>
					<option>Notes</option>
					<option>Folders</option>
				</select>
			</div>
			<div class="form-group">
				<label>Fields</label>
				<select class="form-control">
					<option>All</option>
					<option>Title</option>
					<option>Body</option>
				</select>
			</div>
			<div class="form-group">
				<label>For</label>
				<input type="text" class="form-control"/>
			</div>

			<div class="form-group">
				<input type="submit" value="Search" class="form-control customButton" ng-click=""/>
			</div>
		</form>
	</div>
</div>