/**
 * Twitter Bootstrap Look and Feel
 * Based on http://twitter.github.com/bootstrap/
 */
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	background: #000;
	border: 1px solid #717171; /* browsers that don't support rgba */
	border: 1px solid rgba(255,255,255,.3);
	border-radius: 6px;
	box-shadow: 0 3px 7px rgba(255,255,255,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.alertify-dialog {
	padding: 0;
}
	.alertify-inner {
		text-align: left;
	}
		.alertify-message {
			padding: 15px;
			margin: 0;
		}
		.alertify-text-wrapper {
			padding: 0 15px;
		}
			.alertify-text {
				color: #aaa;
				border-radius: 4px;
				padding: 8px;
				background-color: #000;
				border: 1px solid #333;
				box-shadow: inset 0 1px 1px rgba(255,255,255,.075);
			}
			.alertify-text:focus {
				border-color: rgba(82,168,236,.8);
				outline: 0;
				box-shadow: inset 0 1px 1px rgba(255,255,255,.075), 0 0 8px rgba(82,168,236,.6);
			}

		.alertify-buttons {
			padding: 14px 15px 15px;
			background: #0a0a0a;
			border-top: 1px solid #222;
			border-radius: 0 0 6px 6px;
			box-shadow: inset 0 1px 0 #000;
			text-align: right;
		}
			.alertify-button,
			.alertify-button:hover,
			.alertify-button:focus,
			.alertify-button:active {
				margin-left: 10px;
				border-radius: 4px;
				font-weight: normal;
				padding: 4px 12px;
				text-decoration: none;
				box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
				background-image: -webkit-linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0));
				background-image:    -moz-linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0));
				background-image:     -ms-linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0));
				background-image:      -o-linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0));
				background-image:         linear-gradient(top, rgba(0,0,0,.3), rgba(0,0,0,0));
			}
			.alertify-button:focus {
				outline: none;
				box-shadow: 0 0 5px #d48d2a;
			}
			.alertify-button:active {
				position: relative;
				box-shadow: inset 0 2px 4px rgba(255,255,255,.15), 0 1px 2px rgba(255,255,255,.05);
			}
				.alertify-button-cancel,
				.alertify-button-cancel:hover,
				.alertify-button-cancel:focus,
				.alertify-button-cancel:active {
					text-shadow: 0 -1px 0 rgba(0,0,0,.75);
					background-color: #191919;
					border: 1px solid #444;
					color: #ccc;
					background-image: -webkit-linear-gradient(top, #000, #191919);
					background-image:    -moz-linear-gradient(top, #000, #191919);
					background-image:     -ms-linear-gradient(top, #000, #191919);
					background-image:      -o-linear-gradient(top, #000, #191919);
					background-image:         linear-gradient(top, #000, #191919);
				}
				.alertify-button-cancel:hover,
				.alertify-button-cancel:focus,
				.alertify-button-cancel:active {
					background: #191919;
				}
				.alertify-button-ok,
				.alertify-button-ok:hover,
				.alertify-button-ok:focus,
				.alertify-button-ok:active {
					text-shadow: 0 -1px 0 rgba(255,255,255,.25);
					background-color: #fb3;
					border: 1px solid #fb3;
					border-color: #fb3 #fb3 #ffd57f;
					border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
					color: #000;
				}
				.alertify-button-ok:hover,
				.alertify-button-ok:focus,
				.alertify-button-ok:active {
					background: #fb3;
				}

.alertify-log {
	background: #261208;
	padding: 8px 14px;
	border-radius: 4px;
	color: #c57540;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	border: 1px solid #43170e;
}
	.alertify-log-error {
		color: #46b5b7;
		background: #0d2121;
		border: 1px solid #112c28;
	}
	.alertify-log-success {
		color: #b977b8;
		background: #200f27;
		border: 1px solid #291639;
	}
