body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: 12px;
	line-height: 22px;
	background: #111;
	background-attachment: fixed;
	color: #CCC;
	cursor: pointer; /* fix for IOS */
	
	margin-top: 15px;
}

#update{/*Update span style*/
	color: #CC0000;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none; /* dont outline text boxes and buttons when they are selected*/
}

.startHidden{/*used to initialy hide element so jquery can fade it in*/
	display: none;
}

/* dont color hyperlinks*/
	a:link,a:hover,a:visited,a:active {
	  	color:inherit; 
	  	text-decoration:inherit;
	}

#menu{
	background: #000;
	padding: 15px 30px;
	overflow: hidden;
	font-size: 18px;
	
	border-radius:4px;/*round the corners*/
	
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

#noteTitle{
	background: #000;
	padding: 15px 30px;
	overflow: hidden;
	font-size: 18px;
	
	border-radius:4px;/*round the corners*/
}

#folderTitleBar{
	padding: 15px 0px;
	overflow: hidden;
	font-size: 18px;
}

	#folderTitle{
		float:left;
		padding-right:15px;
		font-size: 20px;
	}	

.customButton{ /*custom button class that removes all browser formating*/
	border: none;
	background:transparent;
	overflow: hidden;
	
	background-color: transparent;
	color: inherit;
	
	font-family: inherit; 
	font-size: inherit;
	line-height: inherit;
}

a.customButton, a.customButton.folder{/* override for list js*/
	line-height: 3ex !important;
	display: inline !important;
	color: #fff;
}

	.customButton:hover,a.customButton.folder:hover {
		color: #000;
		background: #fff;
		border-radius:4px;/*round the corners*/
	}

img {
	border: none; /*stupid IE*/
}

.left{
	float: left;
}

.right{
	float: right;
}

#sideBar{
	background: #000;
	
	/*round the corners*/
	border-radius:4px ;
	margin-bottom: 15px;
}


	.box{
		width: 250px;
		height: 150px;
		padding: 10px;
		float: left;
		margin: 0 10px 10px 0;

		background-color: #F06D29;
		color: #000;
		position: relative;
		
		overflow: hidden;
		border-radius:4px;/*round the corners*/
	}

		.box_description{
			height: 80px;
			overflow: hidden;
		}
		
			#itemClass_description{
				border: none;
				background:transparent;
				height: 80px;
				width: 100%;
				overflow: auto;
				resize:none;
				
				/* copied from div.event */
				color: inherit; /*inherit from parrent*/
				
				/*coped from body to prevent glitch*/
				font-family: inherit; 
				font-size: inherit;
				line-height: inherit;
			}
		
		.big {
			width: auto;
			height: 100%;
			margin: 0px 0px 0px 0px;/*reset from box*/
			
			overflow: hidden;
			float: none; 
		}
		
		.green {/*overiding css when up class is present*/
			background: #8D40CC; /*green*/
		}
		
		.orange {
			background: #0099CC; /*orange*/
		}
		
		.red {
			background: #CC0000; /*Rollyo Red*/
		}
		
		h1,h2,h3,h4,h5,h6 {
			margin: 0 0 10px 0;
			font-weight: normal;
		}
			
			.inputField{
				border: none;
				background:transparent;
				overflow: hidden;
				resize:none;

				/* copied from div.event */
				color: inherit; /*inherit from parrent*/
				
				/*coped from body to prevent glitch*/
				font-family: inherit; 
				font-size: inherit;
				line-height: inherit;
				
				width: 80%;
			}
			
			.smallInputField{ width: 35px;}/*override*/
			
			.options {
				position: absolute;/*Always putting the option on the bottom*/
				width: 93%;
				bottom: 0px;
			}
			
		
		.bar .options{ /*override*/
			width: 98%;
		}

	.noPadding{
		padding: 0;
	}
	
	.noMargin{
		margin: 0;
		
	}
	
	.noShadow{
		box-shadow: none;
	}
	
/*Tree styles*/
	
	.btn {
	    margin-right: 8px;
	    border: none;
	    height: 20px;
	    width: 15px;
	}
	
	.btn.collapsed{
		background: none;
		border-style: solid;
		border-color: #8D40CC;
		border-width: 1px;
	}
	
	.angular-ui-tree-handle {
	    color: #FFF;
	    padding: 10px 10px;
	}
	
	.angular-ui-tree-handle:hover {
	    color: #bc7146;
	    background: #0b0908;
	    border-color: #231d17;
	}
	
	.angular-ui-tree-placeholder {
	    background: #0f0600;
	    border: 2px dashed #412d24;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.angular-ui-tree-handle:hover {
	}
	
	.tree-node-content {
	    margin: 10px;
	}
	
	.angular-ui-tree-empty {
		min-height: 50px;
		border: none;
		background-color: inherit;
		background-image: none;
	}